.friendsList {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	/*height: 1000vh;*/
	padding-left: 8rem;
}

.userComponent img {
	width: 7rem;
	height: 7rem;
	border-radius: 3rem;
}

.userComponent {
	width: 100%;
	height: 11rem;
	display: flex;
	padding: 2rem;
}

.userComponentDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 2rem;
}

.userComponentDetails h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

.userComponentDetails h5 {
	opacity: 0.8;
}

.friendsList hr {
	border: solid 1px black;
	opacity: 0.1;
	margin: 0 25px;
}

.friendsList p {
	padding: 2rem;
	opacity: 0.7;
}

.addFriendsModal {
	width: 30rem;
	height: 42rem;
	border-radius: 50%;
}

/*.ant-popover-placement-bottomRight .ant-popover-arrow {*/
/*	right: 11px;*/
/*}*/

.addFriends {
	display: flex;
	justify-content: center;
	color: red;
}

.ant-popover-inner {
	border-radius: 2rem !important;
}

.addFriendsModalTitle {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.ant-menu-overflow-item {
	width: 45%;
	text-align: center;
}

.ant-menu-item {
	color: #5d5d5d !important;
}

.ant-menu-item-selected {
	color: black !important;
}

.ant-menu-item-selected::after {
	border-bottom: 2px solid #000 !important;
}

.ant-menu-horizontal {
	margin-bottom: 5.9rem !important;
}

.addFriendsCountry {
	width: 30% !important;
}

.addFriendsPhone {
	width: 70%;
}

.addFriendsFirstInput {
	display: flex;
	margin: 1rem 0 2rem 0;
}

.ant-btn:empty {
	visibility: unset !important;
}




.birthDay {
	left: 20rem !important;
	top: 29rem !important;
}

.birthDay > .ant-popover-content > .ant-popover-inner {
	width: 28rem;
	min-height: 40rem;
}

.birthDay > .ant-popover-content > .ant-popover-arrow {
	top: 10%;
}

.friendsListIcon {
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	background: #E1747A;
}

.friendsListIcon i {
	color: white;
	height: 70%;
}

.friendsModal h2 {
	margin-bottom: 1.5rem;
	text-align: center;
	font-weight: 600;
}

