.screenHeader {
    width: 100%;
    /*height: 5rem;*/
    padding: 2.5rem 2.5rem 2.5rem 10.5rem;
}

.mainTop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.screenHeaderTitle {
    font-size: 2.4rem;
    font-weight: 600;
}

.screenHeaderIcons span {
    margin-right: 2.5rem;
}

.screenHeaderIcons i {
    opacity: .8;
    cursor: pointer;
}

.searchModal {
    width: 100%;
    padding: 1rem .5rem;
}

.searchModalInput {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    appearance: none;
    border: none;
    width: 100%;
    background-color: #F8F8F8;
}