.screenHeader {
    width: 100%;
    /*height: 5rem;*/
    padding: 2.5rem 2.5rem 2.5rem 10.5rem;
}

.mainTop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.screenHeaderTitle {
    font-size: 2.4rem;
    font-weight: 600;
}

.screenHeaderIcons span {
    margin-right: 2.5rem;
}

.screenHeaderIcons i {
    opacity: .8;
    cursor: pointer;
}

.searchModal {
    width: 100%;
    padding: 1rem .5rem;
}

.searchModalInput {
    font-family: 'Helvetica', FontAwesome, sans-serif;
    appearance: none;
    border: none;
    width: 100%;
    background-color: #F8F8F8;
}

.searchModalInput:focus {
    outline: yellow;
}

.addFriendsContent p{
    margin-top: 1rem;
}

.addFriendsButton {
    width: 90%;
    background: #d7d7d7 !important;
    border-radius: .5rem !important;
    position: absolute !important;
    bottom: 1rem !important;
}

.addFriendsButton-active {
    background: #fcd411 !important;
}

.searchByIdContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 20rem;
    text-align: center;
}

.searchByIdContent p {
    width: 100%;
}

.addFriendsByIdProfilePic {
    height: 95px;
    border-radius: 38%;
}

.addFriendsByIdProfilePicBox {
    width: 100%;
}

.searchByIdContent p {
    height: 5px;
}

.searchByIdContentName {
    font-size: 1.8rem;
    font-weight: 600;
}

.searchByIdContentDesc {
    opacity: .6;
}