@import './componenets/LeftMenu.css';
@import './componenets/Header.css';
@import './componenets/Friends.css';

.mainPage {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
    /*position: fixed;*/
}


