@import './componenets/LeftMenu.scss';
@import './componenets/Header.scss';
@import './componenets/Friends.scss';

.mainPage {
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
	/*position: fixed;*/
}
